* {
	--section-color: #e6fab6;
	--section-border: #75eb77;
}

body {
	margin: 0;
	background-color: #efffa8;
}

#content {
	background-color: #96a672;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
	margin: 0 350px 100px 350px;
	padding-bottom: 50px;
	border-radius: 16px;
	min-width: 325px;
}

.section, .title {
	background-color: var(--section-color);
	border: 2px solid var(--section-border);
	border-radius: 8px;
	padding: 15px;
}

.title {
	font-size: 3em;
	width: 50%;
	text-align: center;
}

.section {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.section * {
	margin: 5px;
}

.times p {
	margin: 5px;
}

.location p, .contact p, .about-section p {
	text-align: center;
}

h3 {
	font-size: 1.5em;
}

header {
	margin-bottom: 30px;
	background-color: #ccf0d5;
}

header nav {
	display: flex;
	gap: 25px;
	justify-content: center;
}

header button {
	font-size: 25px;
	border-radius: 6px 6px 0 0;
	background-color: #e1edad;
}

.highlight {
	background-color: #a1b936;
	box-shadow: -2px 2px black;
}

.times {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	background-color: var(--section-color);
	border-radius: 8px;
	text-align: center;
	font-size: 1.8em;
	padding: 20px 0;
	width: 75%;
	margin: auto;
}

.menu-section {
	display: flex;
	flex-direction: column;
	gap: 35px;
	margin-bottom: 50px;
}

.food-section {
	display: flex;
	flex-direction: column;
	background-color: var(--section-color);
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.food-name {
	font-size: 1.4em;
}

.food-desc {
	width: 75%;
	text-align: center;
}

.price {
	font-weight: bold;
	font-size: 1.2em;
}

img {
	width: 200px;
	margin-bottom: 20px;
}